@page
@model Security.Pages.laba3Model
@{
    ViewData["Title"] = "Диффи-Хеллман";
}


<h2>Алгоритм Диффи-Хеллмана</h2>



@if (@Model.Kx != null)
{
    <p> 1 партнер сгенерировал простое случайное число Х : @Model.X</p>
    <p> 1 партнер подсчитал число А и отправил его партнеру 2 : @Model.A</p>


    <p> 2 партнер сгенерировал простое случайное число Y : @Model.Y</p>
    <p> 2 партнер подсчитал число В и отправил его партнеру 1 : @Model.B</p>


    <p> 1 партнер подсчитал Kx : @Model.Kx</p>
    <p> 2 партнер подсчитал Ky: @Model.Ky</p>

}